
.header-container {
    display: flex;
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 2px solid #ccc;
  }
  
  .header-item {
    flex: 1; /* Equal width for all columns */
    text-align: center;
    font-weight: bold;
    color: #333;
    padding: 5px;
    display: flex;
  justify-content: center; 
  }
  
  .header-item:first-child {
    text-align: left; /* Optional: Align the first column to the left */
  }
  
  .header-item:last-child {
    text-align: right; /* Optional: Align the last column to the right */
  }
  